.container {
	width: min(60dvw, 60dvh);

	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
	justify-content: center;
}

.hand-summary-container {
	width: 100%;
	height: 64px;
	display: flex;
	flex-direction: row;
}
