.container {
	width: 100dvw;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
	justify-content: center;
	background-color: #abc49a;
}

.title {
	font-size: 4em;
}

.button {
	--color: #f0f0f0;
	--color-hover: #df6722;

	position: relative;
	width: min(400px, 80%);
	height: 48px;
	border: none;
	border-radius: 12px;
	font-size: 1.2em;
	font-weight: bold;
	color: #000;
	background-color: var(--color);
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.4);
	overflow: hidden;
	cursor: pointer;
	transition: 1s;

	&:hover {
		&:after {
			height: 100%;
		}
		&:before {
			height: 100%;
		}
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 0;
		background-color: var(--color-hover);
		mix-blend-mode: color-burn;

		transition: 1s;
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 0;
		background-color: var(--color-hover);
		mix-blend-mode: color-burn;

		transition: 1s;
	}
}

/*
 * Segmented Control
 */

.segmented-control {
	display: flex;
	flex-direction: row;

	justify-content: center;
	align-items: center;
	position: relative;
	width: min(400px, 80%);
	height: 50px;
	padding: 4px;
	border-radius: 12px;
	box-sizing: border-box;
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.4);
	overflow: hidden;
	background-color: #cecece;
	cursor: pointer;
}

.segmented-control input[type="radio"] {
	display: none;
}

.segmented-control label {
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	color: #6d6d6d;
	z-index: 2;
	transition: 0.5s;
}

.segmented-control input[type="radio"]:checked + label {
	color: #ffffff;
}

.slider {
	position: absolute;
	top: 4px;
	left: 4px;
	width: calc(100% / 3 - 8px);
	height: calc(100% - 8px);
	background-color: #df6722;
	border-radius: 8px;
	transition: ease 0.5s;
}

.segmented-control input[type="radio"]:nth-child(1):checked ~ .slider {
	transform: translateX(0%);
}

.segmented-control input[type="radio"]:nth-child(3):checked ~ .slider {
	transform: translateX(calc(100% + 8px));
}

.segmented-control input[type="radio"]:nth-child(5):checked ~ .slider {
	transform: translateX(calc(200% + 16px));
}

/*
 * Divider
 */

.divider {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: min(400px, 80%);
	align-items: center;
	color: #6d6d6d;
}

.divider::before,
.divider::after {
	content: "";
	flex: 1;
	border-bottom: 1px solid #828282;
}
